<div>
    <div class=" listing-container">
        <div class="parinte">
            <div class="formular">
                <div class="title">  Lost Found Match </div>
                <table>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Color</th>
                            <th>Date and time</th>
                            <th>County</th>
                            <th>City</th>
                            <th>Adress</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                        <tr>
                            <td>Animal</td>
                            <td>Black</td>
                            <td>20.05.2023 13:00</td>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Aleaa Studentilor</td>
                            <td>0741580592</td>
                            <td>alexandra.petricele@yahoo.com</td>
                            <td>Telefon...</td>
                            <td class="preview"> <img src="~/img/eye.png" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>