<div id="listing-page">
    <div class=" listing-container">
        <div class="parinte">
            <div class="formular">
                <div class="tab">
                    <button class="tablinks" onclick="selectTab(event, 'Lost')">Lost</button>
                    <button class="tablinks" onclick="selectTab(event, 'Found')">Found</button>
                    <button class="tablinks" onclick="selectTab(event, 'Match')">Match</button>
                </div>

                <div id="Found" class="tabcontent">
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Color</th>
                                <th>Date and time</th>
                                <th>County</th>
                                <th>City</th>
                                <th>Adress</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: LostItems">
                            <tr>
                                <td data-bind="text: Category"></td>
                                <td data-bind="text: Color"></td>
                                @*<td>20.05.2023 13:00</td>
                                <td>Timis</td>
                                <td>Timisoara</td>
                                <td>Aleaa Studentilor</td>
                                <td>0741580592</td>
                                <td>alexandra.petricele@yahoo.com</td>
                                <td>Telefon...</td>*@
                                <td>
                                    <button id="myBtn"><img src="~/img/eye.png" /></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Lost" class="tabcontent">
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Color</th>
                                <th>Date and time</th>
                                <th>County</th>
                                <th>City</th>
                                <th>Adress</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Animal</td>
                                <td>Black</td>
                                <td>20.05.2023 13:00</td>
                                <td>Timis</td>
                                <td>Timisoara</td>
                                <td>Aleaa Studentilor</td>
                                <td>0741580592</td>
                                <td>alexandra.petricele@yahoo.com</td>
                                <td>Telefon...</td>
                                <td>
                                    <button id="myBtn"><img src="~/img/eye.png" /></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Animal</td>
                                <td>Black</td>
                                <td>20.05.2023 13:00</td>
                                <td>Timis</td>
                                <td>Timisoara</td>
                                <td>Aleaa Studentilor</td>
                                <td>0741580592</td>
                                <td>alexandra.petricele@yahoo.com</td>
                                <td>Telefon...</td>
                                <td> <img src="~/img/eye.png" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Match" class="tabcontent">
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Color</th>
                                <th>Date and time</th>
                                <th>County</th>
                                <th>City</th>
                                <th>Adress</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Animal</td>
                                <td>Black</td>
                                <td>20.05.2023 13:00</td>
                                <td>Timis</td>
                                <td>Timisoara</td>
                                <td>Aleaa Studentilor</td>
                                <td>0741580592</td>
                                <td>alexandra.petricele@yahoo.com</td>
                                <td>Telefon...</td>
                                <td>
                                    <button id="myBtn"><img src="~/img/eye.png" /></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Animal</td>
                                <td>Black</td>
                                <td>20.05.2023 13:00</td>
                                <td>Timis</td>
                                <td>Timisoara</td>
                                <td>Aleaa Studentilor</td>
                                <td>0741580592</td>
                                <td>alexandra.petricele@yahoo.com</td>
                                <td>Telefon...</td>
                                <td> <img src="~/img/eye.png" /></td>
                            </tr>
                            <tr>
                                <td>Animal</td>
                                <td>Black</td>
                                <td>20.05.2023 13:00</td>
                                <td>Timis</td>
                                <td>Timisoara</td>
                                <td>Aleaa Studentilor</td>
                                <td>0741580592</td>
                                <td>alexandra.petricele@yahoo.com</td>
                                <td>Telefon...</td>
                                <td> <img src="~/img/eye.png" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var listingPageVM = new ListingPageViewModel();

        $(document).ready(function () {

            listingPageVM.InitializePage();

            ko.applyBindings(listingPageVM, document.getElementById('listing-page'));

            //cand se initializeaza pagina trebe sa apelam specific
            // functia asta face tabul activ o sa intelegi logica daca te uiti
            //se face un foreach peste elemntele de hmlt si se pune style ul dispaly active ca by default este display none
            selectTab(event, 'Lost');
        })
    </script>
}