<div id="listing-page">
    <div class="listing-container">
        <div class="parinte">
            <div class="formular">
                <div class="tab">
                    <button class="tablinks active" onclick="selectTab(event, 'Lost')">Lost</button>
                    <button class="tablinks" onclick="selectTab(event, 'Found')">Found</button>
                    <button class="tablinks" onclick="selectTab(event, 'Match')">Match</button>
                </div>

                <div id="Found" class="tabcontent">
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Color</th>
                                <th>Date and time</th>
                                <th>County</th>
                                <th>City</th>
                                <th>Adress</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: FoundItems">
                            <tr>
                                <td data-bind="text: Category"></td>
                                <td data-bind="text: Color"></td>
                                <td data-bind="text: DateAndTime"></td>
                                <td data-bind="text: County"></td>
                                <td data-bind="text: City"></td>
                                <td data-bind="text: Address"></td>
                                <td data-bind="text: ContactNumber"></td>
                                <td data-bind="text: ContactEmail"></td>
                                <td data-bind="text: Description"></td>
                                <td>
                                    <button data-bind="click: ShowModal"><img src="~/img/eye.png" /></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Lost" class="tabcontent">
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Color</th>
                                <th>Date and time</th>
                                <th>County</th>
                                <th>City</th>
                                <th>Adress</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: LostItems">
                            <tr>
                                <td data-bind="text: Category"></td>
                                <td data-bind="text: Color"></td>
                                <td data-bind="text: DateAndTime"></td>
                                <td data-bind="text: County"></td>
                                <td data-bind="text: City"></td>
                                <td data-bind="text: Address"></td>
                                <td data-bind="text: ContactNumber"></td>
                                <td data-bind="text: ContactEmail"></td>
                                <td data-bind="text: Description"></td>
                                <td>
                                    <button data-bind="click: ShowModal"><img src="~/img/eye.png" /></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="Match" class="tabcontent">
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Color</th>
                                <th>Date and time</th>
                                <th>County</th>
                                <th>City</th>
                                <th>Adress</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: MatchItems">
                            <tr>
                                <td data-bind="text: Category"></td>
                                <td data-bind="text: Color"></td>
                                <td data-bind="text: DateAndTime"></td>
                                <td data-bind="text: County"></td>
                                <td data-bind="text: City"></td>
                                <td data-bind="text: Address"></td>
                                <td data-bind="text: ContactNumber"></td>
                                <td data-bind="text: ContactEmail"></td>
                                <td data-bind="text: Description"></td>
                                <td>
                                    <button data-bind="click: ShowModal"><img src="~/img/eye.png" /></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var listingPageVM = new ListingPageViewModel();

        $(document).ready(function () {

            listingPageVM.InitializePage();
            ko.applyBindings(listingPageVM, document.getElementById('listing-page'));

            selectTab(event, 'Lost');
            $($(".tab").children()[0]).addClass("active");

        })
    </script>
}