<div class="footer">
        <div class="footer-container">
            <div></div>
            @*<div class="email-subscribe">
                <p class="text-footer">Stay Up to Date on All Things Lost & Found</p>
                <input class="input-email" type="text" placeholder="Email">
                <input type="button" value="Subscribe" class="subcribe-button">
            </div>*@
        </div>
   </div>






