<nav>
    <div class="navigation">
        <div class="navigation-left">
            <a href="/">
                <img src="~/img/logo.png" class="logo">
            </a>
        </div>
        <div class="navigation-right">
            <a class="nav-item" href="/" id="home-menu">Home</a>
            <a class="nav-item" href="/lost" id="lost-menu">Lost</a>
            <a class="nav-item" href="/found" id="found-menu">Found</a>
            <a class="nav-item" href="/listing" id="listing-menu">Listing</a>
        </div>
    </div>
</nav>