<nav>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/lost">Lost</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/found">Found</a>
        </li>
    </ul>
</nav>