<nav>
    <div class="navigation">
        <div class="navigation-left">
            <img src="~/img/logo.png" class="logo">
         </div>
        <div class="navigation-right">
            <a class="nav-item" href="/">Home</a>
            <a class="nav-item" href="/lost">Lost</a>
            <a class="nav-item" href="/found">Found</a>
            <a class="nav-item" href="/listing">Listing</a>
        </div>
       
    </div>
            
</nav>