<!-- The Modal -->
<div id="myModal" class="custom-modal">
    <div class="custom-modal-content">
        <span class="close" data-bind="click: Close">&times;</span>
        <p>Details</p>
        <div>
            <label for="category" class="labels">Category : </label>
            <label for="category" class="label-information" data-bind="text: Category()"></label>
        </div>
        <div>
            <label for="color" class="labels">Color : </label>
            <label for="color" class="label-information" data-bind="text: Color()"></label>
        </div>
        <div>
            <label for="dateandtime" class="labels">Date and time : </label>
            <label for="dateandtime" class="label-information" data-bind="text: DateAndTime()"></label>
        </div>
        <div>
            <label for="county" class="labels">County : </label>
            <label for="county" class="label-information" data-bind="text: County()"></label>
        </div>
        <div>
            <label for="city" class="labels">City : </label>
            <label for="city" class="label-information" data-bind="text: City()"></label>
        </div>
        <div>
            <label for="adress" class="labels">Adress : </label>
            <label for="adress" class="label-information" data-bind="text: Address()"></label>
        </div>
        <div>
            <label for="contact" class="labels">Contact : </label>
            <label for="contact" class="label-information" data-bind="text: ContactNumber()"></label>
        </div>
        <div>
            <label for="email" class="labels">Email : </label>
            <label for="email" class="label-information" data-bind="text: ContactEmail()"></label>
        </div>
        <div>
            <label for="description" class="labels">Description : </label>
            <label for="description" class="label-information" data-bind="text: Description()"></label>
        </div>
        <img data-bind="attr{ src: PictureContent()}" class="add-image" />

        @*<div>
            <input type="text" placeholder="Message" class="message-found">
            <input type="button" value="Found" class="modal-found" />
        </div>*@
    </div>
</div>