<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LostAndFound</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/basestructure.css" rel="stylesheet" />
    <link href="~/css/home-page.css" rel="stylesheet" />
    <link href="~/css/lost-page.css" rel="stylesheet" />
    <link href="~/css/found-page.css" rel="stylesheet" />
    <link href="~/css/listing-page.css" rel="stylesheet" />
    <link href="~/css/match-page.css" rel="stylesheet" />

</head>
<body>
    <header class="content">
        @await Html.PartialAsync("~/Views/Shared/_Header.cshtml")
    </header>
    <div class="content body-class">
        <main>
            @RenderBody()
        </main>
    </div>
    <footer class="content">
        @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
    </footer>

    @await Html.PartialAsync("~/Views/Shared/_ItemDetailsModal.cshtml")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ajaxhelper.js"></script>
    <script src="~/js/listingItems.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
