<div>
    <div class=" listing-container">
        <div class="parinte">
            <div class="formular">
                <div class="navigare"> 
                    <a class="nav-item-box" href="/listing">Lost</a>
                    <a class="nav-item-box" href="/listing">Found</a>
                    <a class="nav-item-box" href="/match">Match</a>
                </div>
                <div class="title"><b>Potential match</b></div>
                <table>
                    <tr>
                        <td>Animal</td>
                        <td>Black</td>
                        <td>20.05.2023 13:00</td>
                        <td>Timis</td>
                        <td>Timisoara</td>
                        <td>Aleaa Studentilor</td>
                        <td>0741580592</td>
                        <td>alexandra.petricele@yahoo.com</td>
                        <td>Telefon...</td>
                        <td>
                            <button id="myBtn"><img src="~/img/eye.png" /></button>
                        </td>
                    </tr>
                    <tr>
                        <td>Animal</td>
                        <td>Black</td>
                        <td>20.05.2023 13:00</td>
                        <td>Timis</td>
                        <td>Timisoara</td>
                        <td>Aleaa Studentilor</td>
                        <td>0741580592</td>
                        <td>alexandra.petricele@yahoo.com</td>
                        <td>Telefon...</td>
                        <td> <img src="~/img/eye.png" /></td>
                    </tr>
                    <tr>
                        <td>Animal</td>
                        <td>Black</td>
                        <td>20.05.2023 13:00</td>
                        <td>Timis</td>
                        <td>Timisoara</td>
                        <td>Aleaa Studentilor</td>
                        <td>0741580592</td>
                        <td>alexandra.petricele@yahoo.com</td>
                        <td>Telefon...</td>
                        <td> <img src="~/img/eye.png" /></td>
                    </tr>
                    <tr>
                        <td>Animal</td>
                        <td>Black</td>
                        <td>20.05.2023 13:00</td>
                        <td>Timis</td>
                        <td>Timisoara</td>
                        <td>Aleaa Studentilor</td>
                        <td>0741580592</td>
                        <td>alexandra.petricele@yahoo.com</td>
                        <td>Telefon...</td>
                        <td> <img src="~/img/eye.png" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>