<div>
    <div class="lost-container">
        <div class="parinte">
            <div class="formular-box">
                <div class="title-input">Do you lost something?</div>
                <div class="section-input">
                    <input type="text" placeholder="Category" class="input">
                    <input type="text" placeholder="Color" class="input">
                    <input type="text" placeholder="Date and time" class="input">
                    <input type="text" placeholder="County" class="input">
                    <input type="text" placeholder="City" class="input">
                    <input type="text" placeholder="Address" class="input">
                    <input type="text" placeholder="Contact email" class="input">
                    <input type="text" placeholder="Contact number" class="input">
                    <input type="text" placeholder="Description" class="input">
                    <div class="reward">
                        <input type="checkbox" class="checkbox">
                        <label class="label">Reward</label>
                        <input type="text" placeholder="Cost" class="input-cost">
                    </div>
                </div>
                <div class="insert-photo">
                    <img src="~/img/rectangle 27.png" class="upload-photo">
                    <img src="~/img/rectangle 27.png" class="upload-photo">
                    <img src="~/img/rectangle 27.png" class="upload-photo">
                </div>
                <div class="buton">
                    <input type="button" value="Send" class="send-button">
                </div>
            </div>
        </div>
    </div>
</div>