body {
    background-color: #2B3138;
}

.content {
    max-width: 1280px;
    margin: auto;
}

.body-class {
}

.navigation {
    background-color: green;
    height: 80px;
    background-color: #2B3138;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    padding-top: 20px;
}

navigation-left {
    position: relative;
}

.navigation-right {
}

.logo {
    position: absolute;
    height: 100px;
    width: 100px;
    cursor: pointer;
}


.nav-item {
    height: 80px;
    width: 80px;
    align-items: center;
    background-color: #2B3138;
    color: #CC633B;
    border: none;
    font-style: border;
    cursor: pointer;
    font-size: 22px;
    margin-left: 30px;
    text-decoration: none;
}



.footer {
    height: 170px;
    background-color: #2B3138;
    padding-left: 100px;
    padding-right: 15px;
    padding-top: 30px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-subscribe {
    padding-top: 26px;
}

.input-email {
    height: 27px;
    width: 307px;
    border: none;
    outline: none;
    padding: 0 10px;
}

::placeholder {
    opacity: 0.5;
}

.text-footer {
    height: 27px;
    width: 453px;
    color: white;
    font-size: 23px;
}

.subcribe-button {
    height: 42px;
    width: 122px;
    margin-left: 20px;
    background-color: #CC633B;
    color: white;
    border: none;
    border-radius: 4%;
    cursor: pointer;
}

    .subcribe-button:hover {
        background-color: #892F0D;
    }

/* The Modal (background) */
.custom-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    top: 0;
    right: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.7);
}

/* Modal Content/Box */
.custom-modal-content {
    background-color: #202329;
    padding: 20px;
    height: 100vh;
    width: 500px;
    float: right;
    position: relative;
    overflow-y: scroll;
}

/* The Close Button */
.close {
    color: #CC633B;
    float: right;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    right: 40px;
    top: 0px;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

button {
    background: none;
    border: none;
}

p {
    top: 0;
    font-size: 30px;
    color: white;
    text-align: center;
}

.labels {
    color: #CC633B;
}

.label-information {
    color: white;
}

.add-image {
    padding-top: 20px;
    width: 100%;
}

.modal-found {
    height: 42px;
    width: 122px;
    margin-left: 20px;
    background-color: #CC633B;
    color: white;
    border: none;
    border-radius: 4%;
    right: 20px;
    position: absolute;
    bottom: 20px;
}


.message-found {
    background-color: #2B3138;
    height: 35px;
    width: 180px;
    border: none;
    border-radius: 4px;
    position: absolute;
    bottom: 30px;
    padding-left: 10px;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #2B3138;
}

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: #2B3138;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #CC633B;
        border-radius: 20px;
        border: 3px solid #2B3138;
    }
