* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.listing-container {
    background-color: #2B3138;
    height: 100hv;
}

.formular {
    height: 700px;
    width: 1150px;
    background-color: #202329;
    border-radius: 18px;
    padding: 10px 30px 10px 50px;
    overflow-y: scroll;
}

.navigare {
    font-size: 24px;
    text-align: left;
    align-content: baseline;
    margin-bottom: 50px;
    background-color: none;
}

tabel 
{
    width: 120px;
    margin-top: 30px;
}

tabel, th, td {
    padding: 10px 0 10px 0;
}

td {
    color: white;
    text-align:center;
    /*width: 60px;*/
}

th {
    align-items: center;
    width: 100px;
    font-size: 14px;
    background-color: #64696F;
    color: white;
    text-align: center;
    border-bottom: 15px solid #202329;
    border-top: 20px solid #202329;
}

tr:nth-child(even) td {
    background-color: #2B3138;
}

tr: nth-child(odd) td {
    background-color: #202329;
}


/*tabs listing*/

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #202329;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 20px;
        color: white;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #64696F;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            border-bottom: 2px solid #CC633B;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/*tabs listing*/