<div>
    <h1>Home page</h1>

    <div class="home-container">
        <div class="home-center">
            <div class="home-text">
                <p class="text">Lost or found something?<br>Well, you've come to the<br>right place</p>
                <!--<a href="/lost" input type="button" class="primary-button">Lost </a>-->
                <input type="button" value="Lost" class="primary-button">
                <input type="button" value="Found" class="secondary-button">
            </div>
            <div class="search">
                <img src="~/img/magnifying glass.png" class="lupa">
            </div>
        </div>
    </div>

</div>